*.[oa]
*~
*.swp
*.svg
*.png
*.jpg
*.eps
*.pdf
*.ods
.tkenvrc
out/
/results/
src/TWSN
simulations/.tkenvlog
simulations/results/*.vec
simulations/results/*.vci
simulations/results/*.sca
simulations/results/*.data
simulations/results/*.csv
simulations/results/bs_output/
